body {
    margin:0;
    padding: 0px;
    background-color:#4a4e69;
    text-align: center;}


h1 {
    background-color: #4a4e69;
    color: white;
    padding: 50px;
    font-size: 50px;
    margin: 0px;
}

h2{
    font-size: 45px;
    
}

a{
    display: block;
    margin: 15px auto;
    font-size: 35px;
    border-radius: 30px;
    width: 25%;
    color: red;
}

a:hover{
    background-color: rgb(44, 62, 80);

}